@font-face {
  font-family: Calibri;
  src: url(other/gothamrounded-book.otf);
}

body {
  text-align: center;
  color: rgb(219, 235, 78);
  font-family: 'Gotham';
  margin: 0;
  -webkit-animation: bgcolor 5s infinite;
  animation: bgcolor 5s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}


@keyframes bgcolor {
  50% {
    background: rgb(255, 255, 255)
  }

  50% {
    background: #000000
  }

  }


#title {
  margin: 0;
  font-size: calc(12px + 5vw);
  text-align: center;
}

#subtitle {
  margin-top: 0;
  font-size: calc(12px + 1vw);
  text-align: center;  
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e900;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  text-align: center;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  position:relative;  
}



.button:active {
  background: #ff0000;
}
